@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
$mainColor:#0076B8;
$primaryColor:#fff;
$btnColor:#242424;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  padding: 0.8rem;
  z-index: 10;
  align-items: center;
  position: relative;
}

.button {
  padding: 5px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}

.btnPrimary {
  background-color: $primaryColor;
  color: $btnColor;
  border: 1px solid $primaryColor;
}



.btnOutlined {
  background-color: transparent;
  color: white;
  border: 1px solid $primaryColor;
  transition: all 0.5s ease-in-out;
}

.btnPrimary,
.btnOutlined {
  &:hover {
    background-color: $primaryColor;
    color: $btnColor;
    transition: all 0.5 ease-in-out;
  }
}

.medium {
  padding: 6px 20px;
  font-size: 20px;
}

.large {
  padding: 12px 2px;
  font-size: 20px;
}

.small {
  padding: 6px 18px;
  font-size: 18px;
}


.navlink {
  color: #fff;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  font-size: 18px;
  letter-spacing: 1px;
  height: 100%;
  cursor: pointer;

  &.active {
    color: #15cdfc;
  }

  &:hover {
    color: #15cdfc;
  }
}

.bars {
  display: none;
  color: #fff;

  @media screen and(max-width: 768px) {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 1.8rem;
    transform: translateY(-50%);
    cursor: pointer;
  }

  i {
    color: #fff !important;
  }
}

.navMenu {
  display: flex;
  align-items: center;
  margin-right: -24px;

  @media screen and(max-width: 768px) {
    display: none;
  }

}

.navBtn {
  display: flex;
  align-items: center;
  margin-right: 24px;

  @media screen and(max-width: 768px) {
    display: none;
  }
}


.heroSection {
  height: 90vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  object-fit: cover;
  overflow: hidden;


  video {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
    flex-direction: column;

    .mainHeading {
      color: $primaryColor;
      font-size: 3vw;
      margin-top: 18vh;
      text-transform: uppercase;
      font-weight: 700;
      scroll-behavior: none;
      letter-spacing: 1px;
      text-shadow: 0 0 15px rgba(255, 255, 255, .4), 0 0 10px rgba(255, 255, 255, .2), -40px -40px 0px rgba(255, 255, 255, 0);
    }

    .subHeading {
      color: $primaryColor;
      font-size: 2vw;
      text-transform: uppercase;
      font-weight: normal;
      scroll-behavior: none;
      letter-spacing: 1px;
    }

    .buttonContainer {
      margin-top: 2vh;
      display: flex;
      flex-direction: row;


      @media all and(max-width:375px) {
        flex-direction: column;
        justify-content: center;

        & button {
          margin-top: 2vh;
        }
      }
    }
  }
}

.text-justify {
  text-align: justify;
}

.cardTitle {
  font-weight: bold;
}

.productHero {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./assets/image/dogs.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .overlay {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

  }
}

.image {
  height: 100vh;
  width: auto;
}

.cardSection {
  h1 {
    font-weight: 700;
    text-transform: uppercase;
  }
}

.cardHeading {
  position: relative;

  .label {
    position: absolute;
    bottom: 0;
    left: 8px;
    padding: 4px 20px;
    background-color: $mainColor;
    border-radius: 2px;

    p {
      margin: 0 !important;
      color: $primaryColor;
      text-transform: capitalize;
      font-size: 1.1vw;
    }

  }

  .Image {
    height: 250px;
    width: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.4s ease-in-out;

      &:hover {
        transform: scale(1.2)
      }
    }
  }
}

.minHeight {
  min-height: 450px !important;
  border: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 10px !important;
}

.footerContainer {
  background-color: #000;
  color: $primaryColor;

  .footerTxt {
    font-size: 1.3vw;
    text-align: center;
    letter-spacing: 1px;
  }
}

.myField {
  border: 1px solid $primaryColor;
  background-color: transparent !important;
  color: $primaryColor !important;
  border-radius: 0 !important
}

.customBtn {
  @extend .button;
  @extend .btnOutlined;
  width: 100%;
}

.footerHeading {
  font-weight: bold;
}

.footerSection {
  ul {
    padding: 0;
    text-decoration: none;

    li {
      display: block;
      margin-top: 4px;

      a {
        text-decoration: none;
        color: $primaryColor;
        transition: all 0.2s ease-in-out;
        width: 100%;
        font-weight: 500;
        &:hover { 
          color: $mainColor;
        }
      }
    }

  }
}